html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.body-content {
  display: grid;
  grid-template-rows: 20% 60% 20%;
  height: 100%;
  width: 100%;
}


.top-part {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9B508;
  width: 100%;
  height: 100%;
}

.top-part img {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive for mobile */
@media screen and (min-width: 375px) and (max-width: 576px) {

  .body-content {
    display: grid;
    grid-template-rows: 13% 75% 12%;
    height: 100%;
    width: 100%;
    /* ให้กว้างเต็ม */
  }

  .main {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* ให้กว้างเต็ม */
    height: 100%;
  }


  /* =============== top part ============== */
  .top-part {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .top-part img {
    height: 75px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

  /* ====================================== */

.main {
  display: flex;
  flex-direction: column;
  background-image: url(/static/img/homepage/20250213_143920.jpg);
  background-size: cover;
  background-position: -350px;
  background-repeat: no-repeat;

  /* ทำให้ภาพมืดลง */
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


  .main img {
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 20px;
    position: absolute;
    top: 20%;
  }

  .main h1 {
    position: absolute;
    top: 40%;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    color: white;
  }

  .search-input {
    appearance: none;
    border: none;
    border-radius: 20px;
    width: 80%;
    /* ให้ยืดตามจอ */
    max-width: 300px;
    height: 45px;
    padding: 0 20px;
    background-color: #F9B508;
    margin-top: 150px;
  }

  .search-input::placeholder {
    font-family: "Prompt", sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #1E1E1E;
  }


  .map-btn {
    margin-top: 40px;
    padding: 8px 20px;
    font-family: "Prompt", sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: #5A5A5A;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }


  /* ============================================= */

  .bottom-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9B508;
    width: 100%;
    height: 100%;
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.637);
  }

  .bottom-part img {
    width: 45px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin-top: 20px;
  }
}