<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/img/rmutsb-logo.png">
    <title>Rajamangala Suvannabhumi Navigation</title>
    <link rel="stylesheet" href="/static/homePage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="body-content">
        <div class="top-part">
            <img src="/static/img/Main_logo.png" alt="">
        </div>
        <div class="main">
            <img src="/static/img/sciLogo.png" alt="">
            <h1>ระบบเเนะนำเส้นทาง</h1>
            <div id="nav-search-part">
                <input type="search" name="nav-search" id="nav-search" placeholder="ค้นหาสถานที่ต้องการตรงนี้ได้เลย">
                <div id="search-results"></div>
            </div>
            <a href="{{ url_for('index') }}" class="map-btn">
                แผนผังมหาวิทยาลัย
            </a>
        </div>
        <div class="bottom-part">
            <img src="/static/img/sciLogo.png" alt="">
            <p>Created By Chutiphon and Pipat Computer Scince</p>
        </div>
    </div>

</body>

    <script>
        const indexUrl = "{{ url_for('index') }}";
    </script>
    <script src="/static/js/search-home.js"></script>

</html>