<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Building Modal</title>
    <link rel="stylesheet" href="/static/building-modal.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mitr:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
    <div class="detail-building-modal">
        <div class="header">อาคาร A</div>
        <div class="container">
            <div class="image">
                <img src="https://via.placeholder.com/100" alt="Building" />
            </div>
            <div class="list">
                <p>รายละเอียดของอาคาร เช่น ข้อมูลพื้นฐาน ทำเล หรือความสำคัญของอาคาร</p>
                <ul>
                    <li>ชั้น 1: สำนักงาน</li>
                    <li>ชั้น 2: ห้องเรียน</li>
                    <li>ชั้น 3: ห้องปฏิบัติการ</li>
                    <li>ชั้น 3: ห้องปฏิบัติการ</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>